.swiper {
    width: 100%;
    height: 300px;
}

.movie-description {
    background-color: rgba(0,0,0,0.3);
    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    width: 100%;
    color: #f3f3f3;
}

.swiper-button-prev, .swiper-button-next {
    color: #f3f3f3;
}