@import 'variables';

.pagination {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;

    .page-item .page-link {
        margin: 1px;
        border-radius: 200px;
        background-color: $blue-color;
        color: $white-color;
        border: 1px solid $blue-color;
        padding: 10px 15px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .page-item .page-link:hover {
        background-color: $blue-hover-color;
        border-color: $blue-hover-color;
    }

    .page-item.active .page-link {
        background-color: $green-color;
        border-color: $green-color;
    }

    .page-item.disabled .page-link {
        background-color: $disabled-bg-color;
        border-color: $disabled-border-color;
        color: $disabled-color;
        cursor: not-allowed;
    }

    .page-item.page-item.disabled {
        cursor: not-allowed;
    }

    @media (max-width: 576px) {
        .pagination {
          font-size: 0.9rem;
        }
      
        .page-item .page-link {
          padding: 8px 12px;
        }
    }
}