@import 'variables';

.movie-card {
    .movie-card-info {
        background-color: $bg-light-color;
        padding: 10px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        .fa-star{
            margin-right: 2px;
            color: $star-color;
        }
    }
    
    img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        cursor: pointer;
    }
}