.movie-list-container {
  .pagination {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;

    .page-item .page-link {
      margin: 1px;
      border-radius: 200px;
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
      padding: 10px 15px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .page-item .page-link:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    
    .page-item.active .page-link {
      background-color: #28a745;
      border-color: #28a745;
    }
    
    .page-item.disabled .page-link {
      background-color: #e0e0e0;
      border-color: #ccc;
      color: #aaa;
      cursor: not-allowed;
    }
    .page-item.page-item.disabled {
      cursor: not-allowed;
    }
    
    @media (max-width: 576px) {
      .pagination {
        font-size: 0.9rem;
      }
    
      .page-item .page-link {
        padding: 8px 12px;
      }
    }
  }
}