<section class="container movie-list-container">

    <div class="row">
        <gml-seeker (searchText)="searchHandleEvent($event)"></gml-seeker>
    </div>

    @if (movies.length > 0) {
        <div class="row mt-2">
            <h1> {{appTexts.MovieScheduleText}} </h1>
            <div class="col">
                <gml-slideshow [movies]="movies"></gml-slideshow>
            </div>
        </div>

        <div class="row mt-3">
            <h1> {{appTexts.MoviesText}} </h1>
            <div class="col">
                <gml-movie-poster [movies]="movies"></gml-movie-poster>
            </div>
        </div>


        <gml-pagination 
            [totalPages]="totalPages" 
            [totalResults]="totalResults" 
            [currentPage]="currentPage" 
            (pageNumberChange)="pageNumberChangeHandleEvent($event)">
        </gml-pagination>
    } @else {
        @if (noMovie) {
            <h3 class="text-warning"><strong>{{noMovie}}</strong></h3>
        }
    }

</section>