@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "assets/styles/variables";
@import "assets/styles/reset";
@import "assets/styles/mediaQuery";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: $bg-color !important;
  color: $white-color !important;

  h1 {
    color: $white-color !important;
    font-size: 20px !important;
  }

  h3 {
    font-size: 17px !important;
  }

  i {
    font-size: 16px;
  }

  .swiper {
    cursor: grab;
    button {
      cursor: pointer;
    }
  }
}