<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand cursor d-flex justify-content-center align-items-end" href="javascript:void(0)" onclick="window.location.reload();">
        <img src="images/GML-Movies-Logo.png" alt="logo-películas-GML">
        <span class="px-2"> {{ appTexts.PrincipalTitle }} </span>
    </a>

    <div class="navbar-collapse">
        <div class="form-inline my-2 my-lg-0">
            
            <div class="input-container">
                <input #txtBuscar class="form-control mr-sm-2" type="search" (input)="onSearchMovie(txtBuscar.value)" placeholder="Buscar película">
                <i class="fas fa-search search-icon"></i>
            </div>
        </div>
    </div>
</nav>