@import 'variables';

.navbar {
    img {
        width: 40px;
        height: 40px;
    }

    .form-inline {
        width: 100%;
        input.form-control {
            background-color: transparent;
            color: $white-color;
            border: none;
            border-bottom: 1px solid $white-color;
            border-radius: 0px;
            font-size: 20px;
            &::placeholder {
                color: $gray-color;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        .input-container {
            position: relative;
            i {
                -webkit-text-stroke: 1px $bg-color;
            }
            .form-control {
                padding-left: 30px;
            }
            .search-icon {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                color: $white-color;
            }
            .form-control:focus + .search-icon {
                color: $green-color;
            }
        }
    }
}