$bg-color: #121B24;
$bg-light-color: #141E27;
$star-color: #edb867;
$white-color: #F3F3F3;
$gray-color: #555555;
$green-color: #28a745;
$blue-color: #007bff;
$blue-hover-color: #0056b3;

$disabled-bg-color: #e0e0e0;
$disabled-color: #aaa;
$disabled-border-color:#ccc;