@import 'variables';

.container.container-movie-details {
    .content-movie-details {
        height: 100vh;
        img { margin: 5px 0; }
    }
    
    h3.movie-title{
        font-size: 35px !important;
        color: $white-color;
        font-weight: 400;
    }

    .stars-container{
        display:flex;
    }
    
    .fa-star{
        margin-right: 2px;
        color: $star-color;
    }

    .sinopsis-text, .cast-text {
        font-size: 20px !important;
        color: $white-color;
    }
}